* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 46, 72);
    color: white;
    font-size: 30px;
    padding: 20px 30px;
}

.cardsbody {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 30px;
    gap: 30px;
}

.card,
.pluscard {
    height: 300px;
    aspect-ratio: 1/1;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 20px;
    color: gray;
    font-size: 30px;
}

.cardtop {
    display: flex;
    justify-content: end;
    gap: 6px;
}

.infobutton,
.playbutton {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.cardmiddle {
    display: flex;
    justify-content: center;
}

.circle-ring {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    fill: none;
    stroke: lightgreen;
    stroke-width: 20;
}

.cardbottom {
    display: flex;
    justify-content: space-around;
}

.cardtextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardheader,
.timer {
    font-size: 16px;
}

.pluscard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed gray;
    border-radius: 20px;
    color: gray;
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 203, 218);
    color: rgb(28, 46, 72);
    padding: 20px 30px;
}