* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px 30px;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

.header,
.cardsbody,
input#inputwage {
    background-color: rgb(243, 243, 243);
}

.hourwage {
    display: flex;
    gap: 5px;
}

input#inputwage {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
    border: none;
}

#inputwage,
#inputprice {
    width: 80px;
    text-align: right;
}

.cardtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

.price,
.operator-buttons {
    display: flex;
    gap: 5px;
}

input#inputprice {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    width: 50px;
    border: none;
}

.cardsbody {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 30px;
    gap: 30px;
}

.card,
.pluscard {
    height: 300px;
    aspect-ratio: 1/1;
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    font-size: 30px;
    color: gray;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}

.infobutton,
.playbutton,
.pausebutton {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
}

.cardmiddle {
    display: flex;
    justify-content: center;
}

.circle-ring {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    fill: none;
    stroke: rgb(93, 84, 235);
    stroke-width: 20;
}

.cardbottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardtracker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
}

.pluscard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed gray;
    border-radius: 20px;
    color: gray;
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 203, 218);
    color: rgb(28, 46, 72);
    padding: 20px 30px;
}