body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 46, 72);
}

.cardsbody {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.pluscard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    aspect-ratio: 1/1;
    border: 2px dashed gray;
    border-radius: 20px;
}

.footer {}